﻿@{
    ViewBag.Title = "Inicio";
}
<br /><br /><br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
        <img src="~/Images/NOTIFIX.jpg" style="width:100%; height:100%;"/>
    </div>
    <div class="col-1"></div>
</div>