﻿
@{
    ViewBag.Title = "Carga Archivo";
}

<div class="text-center">
    <h2><strong>CARGAR ARCHIVO</strong></h2>
</div><br /><br />

@using (Html.BeginForm("CargaArchivoInd", "SMS", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <div class="row">
            <div class="col-5"></div>
            <div class="form-group col-2">
                <label class="btn btn-primary btn-block" for="fileInput">
                    <input id="fileInput" name="fileInput" type="file" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)">
                    Seleccionar archivo
                </label>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            <div class="col-5"></div>
        </div>

        <div class="row">
            <div class="col-5"></div>
            <div class="form-group col-2">
                <input type="submit" value="Cargar archivo" class="btn btn-primary btn-block" />
            </div>
            <div class="col-5"></div>
        </div>

        <div class="row">
            <div class="col-5"></div>
            <div class="form-group col-2">
                <input type="button" value="Regresar" class="btn btn-primary btn-block" id="btnregresar" onclick="regresar();" />
            </div>
            <div class="col-5"></div>
        </div>
    </div>
}

<br />
<script type="text/javascript">
    $(function () {
        $("#btnregresar").click(function () {
            window.location.href = "@Url.Action("SmsGeneral", "SMS")";
        });
    });

</script>